@import url("https://fonts.googleapis.com/css?family=Lato:100");
@font-face {
  font-family: "HuaKang";
  src: url('../../for-him/fonts/HuaKang-1.woff') format('woff');
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "HuaKang", sans-serif;
  text-align: center;
  padding: 1em;
  color: #ccc;
  font-weight: 200;
}

div {
  width: 190px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -95px;
  margin-top: -65px;
  -webkit-animation: squiggly-anim 0.2s infinite;
  animation: squiggly-anim 0.2s infinite;
}

h3 {
  font-weight: 100;
  font-size: 28px;
  color: #fff;
  line-height: 36px;
  margin-bottom: 0.5em;
}

form {
  width: auto;
}

form.success input {
  color: #8CE62C;
  border-color: #8CE62C;
}

input {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  width: 40px;
  height: 50px;
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  margin-right: 10px;
  outline: 0;
  font-size: 28px;
  color: #ccc;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  /* -webkit-animation: squiggly-anim 0.2s infinite;
  animation: squiggly-anim 0.2s infinite; */
}

input:last-child {
  margin-right: 0;
}

input:hover {
  color: #9B9B9B;
}

input:focus {
  color: #0091FF;
  border-color: #0091FF;
}

.codeInput {
  visibility: hidden;
  -webkit-animation: squiggly-anim 0.2s infinite;
  animation: squiggly-anim 0.2s infinite;
}

.hint {
  display: none;
  padding-inline-start: 0;
  /* -webkit-animation: squiggly-anim 0.2s infinite;
  animation: squiggly-anim 0.2s infinite; */
}

ul {
  padding-top: 2em;
  clear: both;
}

ul li {
  list-style-type: none;
}

strong {
  color: #777;
  font-weight: 200;
}

.elementToFadeIn {
  visibility: visible;
  -webkit-animation: fadein 1s linear 1 forwards;
  animation: fadein 1s linear 1 forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.elementToFadeOut {
  -webkit-animation: fadeOut 1s linear 1 forwards;
  animation: fadeOut 1s linear 1 forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#back {
  font-size: 0.7rem;
}

@-webkit-keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}

@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  5% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}

a {
  color: inherit;
  text-decoration: none;
}